# Bonus: Temperature Analysis I

In [25]:
import pandas as pd
from datetime import datetime as dt

In [2]:
# "tobs" is "temperature observations"
df = pd.read_csv('hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [4]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'])
df.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [5]:
# Set the date column as the DataFrame index
# Drop the date column

df2 = df.set_index('date')
df2.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [27]:
from scipy import stats
from scipy.stats import ttest_ind

In [12]:
# Filter data for June
df_june = df2[df2.index.month.isin([6])]
df_june.head()

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77

In [13]:
# Filter data for December
df_december = df2[df2.index.month.isin([12])]
df_december.head()

                station  prcp  tobs
date
2010-12-01  USC00519397  0.04    76
2010-12-03  USC00519397  0.00    74
2010-12-04  USC00519397  0.00    74
2010-12-06  USC00519397  0.00    64
2010-12-07  USC00519397  0.00    64

In [36]:
# Identify the average temperature for June and December
june_avg = df_june['tobs'].mean()

december_avg = df_december['tobs'].mean()

In [23]:
# Create collections of temperature data for June and December
june_temps = df_june['tobs'].to_list()

december_temps = df_december['tobs'].to_list()

In [26]:
# Run paired t-test
ttest_ind(june_temps, december_temps)

Ttest_indResult(statistic=31.60372399000329, pvalue=3.9025129038616655e-191)

In [34]:
# Variance of the June and December
june_var = df_june['tobs'].var()

december_var = df_december['tobs'].var()

June Variance: 10.610765848422895, December Variance: 14.031915337694313

In [42]:
# Levene test for Homogeneity of Variance 
v_check = stats.levene(june_temps, december_temps)

alpha = 0.05

if(v_check[1]>alpha):
    print('Equal variance is assumed')
else:
    print('Equal variance not assumed')

Equal variance not assumed

In [38]:
# Print statements of both June and December AVG and VAR
print(f'June Temperature Variance: {june_var}, June Temperature Average: {june_avg}')
print(f'December Temperature Variance: {december_var}, December Temperature Average: {december_avg}')

June Temperature Variance: 10.610765848422895, June Temperature Average: 74.94411764705882
December Temperature Variance: 14.031915337694313, December Temperature Average: 71.04152933421226

In [29]:
# Signficant or not?
t_check = stats.ttest_ind(june_temps,december_temps)

alpha = 0.05

if(t_check[1]<alpha):
    print('A is different from B')

A is different from B

### Analysis

I am a bit stumped on the question.  I feel that they are 2 independent examples due to the fact that they are 2 different months of data and either one does not influence the other which leans in the direction of unpaired.  On the other hand, the variance of the 2 sets are not equal leaning in the direction of paired.  I have no definitive answer at the moment.  I will keep looking into this.